.App {
  text-align: center;
}

#mui-component-select-priority {
  padding-right: 14px;
}
.app-header div button {
  position: absolute;
  left: 0;
  margin-left: 20px;
  height: 50px;
}

.priority-dropdown {
  font-size: 18;
  text-align: center;
  height: 44px;
}

.date-selector div {
  height: 44px;
}

.description-textarea {
  height: 24px !important;
}

.owner-dropdown {
  height: 44px;
  width: 150px;
  margin: 0 auto;
}

.menu-item {
  padding-left: 4px !important;
}

.menu-item span {
  padding: 4px;
}

.side-nav-header {
  height: 64px;
  display: flex;
  justify-content: end;
}

.left-back-arrow svg {
  width: 36px;
  height: 36px;
  color: #e4dede;
}

.project-list-table {
  position: relative;
  top: 120px;
  padding: 0 4%;
}

.sidenav-open {
  left: 280px;
  width: calc(92% - 280px);
}